@import "tailwindcss";
@theme {
  --color-custom-white: #f3eafd;
  --color-custom-white-modified: #aca5b4;
  --color-custom-dark-purple: #06010c;
  --color-custom-dark-purple2: #1d0b2f;
  --color-custom-dark-purple3: #0e0617;
  --color-custom-dark-purple4: #2e1844;
  --color-custom-gray: #513d66;
  --color-custom-light-gray: #695181;
  --font-courgette: 'Courgette', sans-serif;
  --font-dm-serif-display-regular: 'DM Serif Display Regular';
  --font-dm-serif-display-italic: 'DM Serif Display Italic';
  --background-image-desktop-hero: url('./assets/background.webp')
}
@font-face {
  font-family: 'Courgette';
  src: url('./assets/fonts/Courgette/Courgette-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'DM Serif Display Regular';
  src: url('./assets/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'DM Serif Display Italic';
  src: url('./assets/fonts/DM_Serif_Display/DMSerifDisplay-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}